:root {
    --bb-black-color: #000000;

    --bb-white-color: #ffffff;

    --bb-red-purple-color: #550e37;

    --bb-violet-color: #3e09bf;

    --bb-green-color: #6ff429;

    --bb-turquoise-color: #44d1d1;

    --bb-green-2-color: #59f516;
}

@font-face {
    font-family: 'Courier New';
    src: local('Courier New'), local('CourierNew'), 
         url('path/to/courier-new.woff2') format('woff2'),
         url('path/to/courier-new.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std Regular';
    src: local('Helvetica Neue LT Std Regular'), local('HelveticaNeueLTStd-Regular'), 
         url('path/to/helvetica-neue-lt-std-regular.woff2') format('woff2'),
         url('path/to/helvetica-neue-lt-std-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bb-text {
    font-family: 'Helvetica Neue LT Std Regular';
    color: var(--bb-black-color);
}