<footer class="bb-footer" [class.hidden]="isHidden">
	<div class="bb-footer-left bb-text-tx02-berkeley">
		<span class="mobile-only">© 2025 BRADYBALL. All rights reserved.</span>
		<span class="desktop-only">© Copyright 2025 BRADYBALL.<br>All rights reserved. Made in the USA.</span>
	</div>
	<div class="bb-footer-right desktop-only">
		<a
			href="https://twitter.com/BRADYBALLFC"
			target="_blank"
			rel="noopener"
			class="bb-footer-link"
			>TWITTER</a
		>
		<a
			href="https://linkedin.com/in/bradyjacobs"
			target="_blank"
			rel="noopener"
			class="bb-footer-link"
			>LINKEDIN</a
		>
		<a href="mailto:bradyjjacobs@gmail.com" class="bb-footer-link"
			>EMAIL</a
		>
	</div>
</footer>
