<footer class="bb-footer">
	<div class="bb-footer-left bb-text-tx02-berkeley">
		© Copyright 2025 BRADYBALL. All rights reserved. Made in the USA.
	</div>
	<div class="bb-footer-right">
		<a
			href="https://twitter.com/BRADYBALLFC"
			target="_blank"
			rel="noopener"
			class="bb-footer-link"
			>TWITTER</a
		>
		<a
			href="https://linkedin.com/in/bradyjacobs"
			target="_blank"
			rel="noopener"
			class="bb-footer-link"
			>LINKEDIN</a
		>
		<a href="mailto:bradyjjacobs@gmail.com" class="bb-footer-link"
			>BRADYJJACOBS&#64;GMAIL.COM</a
		>
	</div>
</footer>
