// about-screen.component.scss
.bb-header {
    background-color: var(--bb-cream-off-white-color);
    position: relative;
    padding: 1rem 2rem;

    .header-content {
        position: relative;
        
        h1 {
            font-size: 1.75rem;
            color: var(--bb-black-color);
            font-family: 'TX-02';
            font-weight: 500;
            padding-bottom: 0.5rem;
            display: inline-block;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background-color: var(--bb-black-color);
            margin: 0 auto;
        }
    }
}

.bb-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.875rem;
    font-family: 'TX-02';
    
    td {
        padding: 6px 8px;
        border: 1px solid #000;
        
        &:first-child {
            font-weight: 500;
            width: 25%;
            background-color: #fff;
        }
    }

    // For notes table
    tr td:last-child {
        width: 80px;
        text-align: center;
    }

    .bb-link {
        color: #0066cc;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.main-content {
    background-color: var(--bb-cream-off-white-color);
    transition: margin-left 0.3s ease;
    
    &.expanded {
        margin-left: 0;
    }
}