<div class="header-container" [ngClass]="{'collapsed': isCollapsed}">
    <div class="bg-warning p-3 d-flex justify-content-between align-items-center">
        <div>
            <h4 class="mb-0">
                <a class="text-dark text-decoration-none" routerLink="/BRADYBALL-home" href="/#/BRADYBALL-home">
                    <span *ngIf="!isCollapsed">BRADYBALL LOGO</span>
                    <span *ngIf="isCollapsed">B</span>
                </a>
            </h4>
        </div>
        <button class="btn collapse-button" (click)="toggleCollapse()">
            <i class="bi" [ngClass]="{'bi-chevron-left': !isCollapsed, 'bi-chevron-right': isCollapsed}"></i>
        </button>
    </div>

    <nav class="p-3" [ngClass]="{'d-none': isCollapsed}">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-dark" routerLink="/BRADYBALL-about" href="/#/BRADYBALL-about">About BRADYBALL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" routerLink="/BRADYBALL-player-analysis" href="/#/BRADYBALL-player-analysis">Player Analysis</a>
            </li>
            <li class="nav-itemI">
                <a class="nav-link text-dark" routerLink="/BRADYBALL-team-insights" href="/#/BRADYBALL-team-insights">Team Insights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" routerLink="/BRADYBALL-season-trends" href="/#/BRADYBALL-season-trends">Season Trends</a>
            </li>
        </ul>
    </nav>
</div>
