<div class="h-100 bg-white">
    <div class="header-container" [ngClass]="{'collapsed': isCollapsed && !isMobile}">
        <!-- Mobile Header -->
        <div class="d-flex align-items-center mobile-header" *ngIf="isMobile">
            <a class="btn" (click)="navigateHome()">
                <span class="bb-text-courier-prime fw-bold">BB</span>
            </a>

            <!-- Mobile Navigation -->
            <nav class="flex-grow-1 ms-3">
                <ul class="nav justify-content-end">
                    <li class="nav-item" *ngFor="let item of navItems">
                        <a class="nav-link" [routerLink]="item.route" routerLinkActive="active">
                            {{item.label}}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Desktop Header -->
        <div class="d-flex flex-column desktop-header" *ngIf="!isMobile">
            <div class="p-3 d-flex justify-content-between align-items-center">
                <a class="btn" (click)="navigateHome()">
                    <span class="bb-text-courier-prime fw-bold fs-4">BRADYBALL</span>
                </a>
                <button class="btn p-0" (click)="toggleCollapse()">
                    <i class="bi" [ngClass]="{'bi-chevron-left': !isCollapsed, 'bi-chevron-right': isCollapsed}"></i>
                </button>
            </div>

            <nav class="p-3" [class.d-none]="isCollapsed">
                <ul class="nav flex-column">
                    <li class="nav-item mb-3" *ngFor="let item of navItems">
                        <a class="nav-link" [routerLink]="item.route" routerLinkActive="active">
                            {{item.label}}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>